.transition {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.containercontent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    margin-top: -6px;
    
}


.title.content1 {
    grid-column: 1;
    grid-row: 1;
     z-index: 98;
    
}

.mainText1 {
        grid-column: 1;
    grid-row: 2;
    z-index: 14;
    background-color: rgba(255,255,255,.8);
/*    padding: 1em;*/
    /*padding-left: 2em;*/
        display: flex;
  justify-content: center;
  align-items: center;
    font-size: 1.1em;
    z-index: 98;

}

.mainText1 > p {
    padding: 3em;
}

@media only screen and (min-width: 450px)  {
    .mainText1 {
        font-size: 1.5em;
    }
    .mainText1 > p {
    padding: 3em;
}

}

@media (min-width: 1400px)  {
    .mainText1 {
        font-size: 2em;
       
    }
        .mainText1 > p {
    padding: 5em;
}
}


/****
******PHOTO 1****************/
.photo.incontent2 {
        grid-column: 1;
    grid-row: 3 / 6;
    z-index: -3;

    
}

    .mainText1 a {
        color: darkmagenta;
        font-weight: 400;

            
    }


.incontent2 img {
/*  object-fit: cover;*/
  width: 100%;
height: 38vmax;
    object-position: center;
    
}

@media only screen and (min-width: 450px)  {
 
}

@media (min-width: 1400px)  {
    
    .incontent2 img {
  object-fit: cover;
  width: 100%;
height: 42vmax;
        
}

}

.Data1 {
        grid-column: 1;
    grid-row: 4 / 6;
     z-index: 97;
    background-color: rgba(237, 216, 175, .8);

    height: 23vmax;
          display: flex;
  justify-content: bottom;
  align-items: center;
    padding-left: 6em;
    padding-right: 2em;
        border-top-right-radius: 20vmax;

    
    
}

.Data1 h3 {
        font-size: 1.4em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px black; 
    
}
@media (min-width: 768px)  {
    
    .Data1 {
         padding-left: 1em;
          height: 23vmax;
    }
 .Data1 h3 {
        font-size: 2em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px black;
    
}
}

@media (min-width: 1400px)  {
.Data1 {
         padding-left: 10vmax;
          height: 23vmax;
    }
 .Data1 h3 {
        font-size: 3em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px black;
    
}
}


.callout {
        grid-column: 1;
    grid-row: 5 / span 2;
     z-index: 98;
    background-color: #80bbb9;
    height: 10vmax;
    width: 60%;
    
    margin-top: 7vmax;
    border-bottom-right-radius: 5vmax;
    border-top-right-radius: 5vmax;
      display: flex;
  justify-content: center;
  align-items: center;
}
.callout h4 {
    font-size: 1.5em;
    font-weight: 300;
    color: white;
 
}

@media only screen and (min-width: 450px)  {
 
}

@media (min-width: 1400px)  {
    
}

.Data2 {
        grid-column: 1;
    grid-row: 6 / 8;
     z-index: 97;
    background-color: rgba(237, 216, 175, .6) ;
    height: 23vmax;
          display: flex;
  justify-content: bottom;
  align-items: center;
    padding-left: 1em;
     border-bottom-right-radius: 20vmax;

  
}

.Data2 h3 {
        font-size: 1.4em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px black;
    padding-right: 1em;
    
}

@media (min-width: 768px)  {
    
    .Data2 {
         padding-left: 1em;
        
          height: 23vmax;
    }
 .Data2 h3 {
        font-size: 2em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px black;
    
}
}

@media (min-width: 1400px)  {
.Data2 {
         padding-left: 1em;
          height: 23vmax;
    }
 .Data2 h3 {
        font-size: 3em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px black;
    
}
}

/****
******PHOTO 2****************/

.photo.incontent3 {
        grid-column: 1;
    grid-row: 6 / span 3;
        z-index: -3;
    
}

.incontent3 img {
  object-fit: cover;
  width: 100%;
height: 38vmax;
    margin-top: -5px;
}

@media only screen and (min-width: 450px)  {
 
}

@media (min-width: 1400px)  {
    
    .incontent3 img {
  object-fit: cover;
  width: 100%;
height: 42vmax;
}
 
}

