
.internalNavaboutme {
    display:table;
    margin: 0 auto;
    
}
.ourteamnav  {

    text-align: center;
    margin: 0 auto;
}

.ourteamnav li {
    display:inline-block;
    background-color: #edd8af;

    padding: 1em;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 4em;
}

#maincontent {
    margin-top: 3em;
}

.coChairsText, .principalsText, .associatesText {
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
}


.associatesText > article  {
  background-color: #f1f1f1;
  width: 350px;
  margin: 10px;
  text-align: center;
  /*line-height: 75px;*/
  font-size: 1em;
    padding:1em;
}


.coChairsText > article {
      background-color: #f1f1f1;
  width: 350px;
  margin: 10px;
  text-align: center;
  /*line-height: 75px;*/
  font-size: .9em;
    padding:1em;
    
}
.principalsText > article {
      background-color: #f1f1f1;
  width: 350px;
  margin: 10px;
  text-align: center;
  /*line-height: 75px;*/
  font-size: 1em;
    padding:1em;
    
}

main {
    width: 100vw;
}
